<?xml version="1.0"?>
<config>
    <modules>
        <MageMill_OrderImages>
            <version>1.1.0</version>
        </MageMill_OrderImages>
    </modules>
    
    <frontend>
        <routers>
            <orderimages>
                <use>standard</use>
                <args>
                    <module>MageMill_OrderImages</module>
                    <frontName>orderimages</frontName>
                </args>
            </orderimages>
        </routers>
        <layout>
            <updates>
                <orderimages>
                    <file>magemill_orderimages.xml</file>
                </orderimages>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <orderimages>
                <use>admin</use>
                <args>
                    <module>MageMill_OrderImages</module>
                    <frontName>orderimages</frontName>
                </args>
            </orderimages>
        </routers>
    </admin>
    
    <global>
        <blocks>
            <orderimages>
                <class>MageMill_OrderImages_Block</class>
            </orderimages>  
        </blocks>
        <helpers>
            <orderimages>
                <class>MageMill_OrderImages_Helper</class>
            </orderimages>
        </helpers> 
        <models>
            <orderimages>
                <class>MageMill_OrderImages_Model</class>
                <resourceModel>orderimages_mysql4</resourceModel>
            </orderimages>
            <orderimages_mysql4>
                <class>MageMill_OrderImages_Model_Mysql4</class>
            </orderimages_mysql4>
        </models>
        <resources>
            <orderimages_setup>
                <setup>
                    <module>MageMill_OrderImages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </orderimages_setup>
            <orderimages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderimages_write>
            <orderimages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderimages_read>
        </resources>
     </global> 
     
     <adminhtml>
        <translate>
            <modules>
                <MageMill_OrderImages>
                    <files>
                        <default>MageMill_OrderImages.csv</default>
                    </files>
                </MageMill_OrderImages>
            </modules>
        </translate>
        <layout>            
            <updates>
                <orderimages>
                    <file>magemill_orderimages.xml</file>
                </orderimages>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orderimages>
                                            <title>MageMill Display Order Images</title>
                                        </orderimages>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <orderimages>
            <general>
                <enabled>0</enabled>
                <admin_width>200</admin_width>
                <admin_height>200</admin_height>
                <front_width>150</front_width>
                <front_height>150</front_height>
                <email_width>100</email_width>
                <email_height>100</email_height>
            </general>
            <lightbox>
                <enabled>1</enabled>
                <include_jquery>0</include_jquery>
                <admin_jquery>1</admin_jquery>
            </lightbox>
        </orderimages>
    </default>
</config>