<?xml version="1.0"?>
<config>
    <default>
        <askfordetailstab_opt>
            <askfordetailsconfig>
                <afdcustomerfeedback>1</afdcustomerfeedback>
            </askfordetailsconfig>
        </askfordetailstab_opt>
    </default>
    <modules>
        <Aurora_Askfordetails>
            <version>0.1.1</version>
        </Aurora_Askfordetails>
    </modules>
    <frontend>
        <routers>
            <askfordetails>
                <use>standard</use>
                <args>
                    <module>Aurora_Askfordetails</module>
                    <frontName>askfordetails</frontName>
                </args>
            </askfordetails>
        </routers>
        <layout>
            <updates>
                <askfordetails>
                    <file>askfordetails.xml</file>
                </askfordetails>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Aurora_Askfordetails.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <askfordetailstab_opt>
                                            <title>Ask For Details - Configuration</title>
                                        </askfordetailstab_opt>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Aurora_Askfordetails>
                    <files>
                        <default>Aurora_Askfordetails.csv</default>
                    </files>
                </Aurora_Askfordetails>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <template>
            <email>
                <popupsproduct_email_email_template translate="label" module="askfordetails">
                    <label>Ask expert</label>
                    <file>askfordetails_template.phtml</file>
                    <type>html</type>
                </popupsproduct_email_email_template>
            </email>
        </template>
        <blocks>
            <askfordetails>
                <class>Aurora_Askfordetails_Block</class>
            </askfordetails>
        </blocks>
        <helpers>
            <askfordetails>
                <class>Aurora_Askfordetails_Helper</class>
            </askfordetails>
        </helpers>
    </global>
</config>