<?xml version="1.0"?>
<!--


-->
<config>
    <modules>
        <Softwarehtec_Cardcom>
            <version>0.1.0</version>
        </Softwarehtec_Cardcom>
    </modules>
    <global>
        <models>
            <softcardcom>
                <class>Softwarehtec_Cardcom_Model</class>
                <resourceModel>softcardcom_mysql4</resourceModel>
            </softcardcom>
            <softcardcom_mysql4>
                <class>Softwarehtec_Cardcom_Model_Mysql4</class>
                <entities>
                    <api_debug><table>softcardcom_api_debug</table></api_debug>
                </entities>
            </softcardcom_mysql4>
        </models>
        <resources>
            <softcardcom_setup>
                <setup>
                    <module>Softwarehtec_Cardcom</module>
                    <class>Softwarehtec_Cardcom_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </softcardcom_setup>
            <softcardcom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </softcardcom_write>
            <softcardcom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </softcardcom_read>
        </resources>
        <blocks>
            <softcardcom><class>Softwarehtec_Cardcom_Block</class></softcardcom>
    	</blocks>
        <payment>
            <softcardcom_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Franais</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                    <ES>
                        <code>ES</code>
                        <name>Espagnol</name>
                    </ES>
                    <DE>
                        <code>DE</code>
                        <name>Allemand</name>
                    </DE>
                    <IT>
                        <code>IT</code>
                        <name>Italien</name>
                    </IT>
                    <NL>
                        <code>NL</code>
                        <name>Nerlandais</name>
                    </NL>
                </languages>
            </softcardcom_payment>
        </payment>
        <helpers>
           <softcardcom>
              <class>Softwarehtec_Cardcom_Helper</class>
           </softcardcom>
        </helpers>
    </global>
    <frontend>
        <secure_url>
            <softcardcom_payment>/softcardcom/payment</softcardcom_payment>
        </secure_url>
        <routers>
            <softcardcom>
                <use>standard</use>
                <args>
                    <module>Softwarehtec_Cardcom</module>
                    <frontName>softcardcom</frontName>
                </args>
            </softcardcom>
        </routers>
        <translate>
            <modules>
                <Softwarehtec_Ukash>
                    <files>
                        <default>Softwarehtec_Cardcom.csv</default>
                    </files>
                </Softwarehtec_Ukash>
            </modules>
        </translate>
        <layout>
            <updates>
                <softcardcom>
                    <file>softcardcom.xml</file>
                </softcardcom>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Softwarehtec_Cardcom>
                    <files>
                        <default>Softwarehtec_Cardcom.csv</default>
                    </files>
                </Softwarehtec_Cardcom>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <softcardcom_payment>
                  <model>softcardcom/payment</model>
                  <title>Cardcom</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </softcardcom_payment>
        </payment>
    </default>
</config>