@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.opc-wrapper-opc .fa{font-family:"FontAwesome" !important;}
.checkout_logo{text-align: center;margin-top: 50px;position: relative;}
.checkout-header .logo{display: inline-block;float: right;position: relative;z-index: 1;}
.md-perspective body{background:#222;-webkit-perspective:600px;-moz-perspective:600px;perspective:600px}
.md-modal{position:fixed;top:50%;left:50%;width:50%;max-width:305px;min-width:305px;height:auto;z-index:2000;visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.md-show{visibility:visible}
.md-overlay{position:fixed;width:100%;height:100%;visibility:hidden;top:0;left:0;z-index:1000;opacity:0;background:rgba(0,0,0,0.6);-webkit-transition:all .3s ease-out-moz;-moz-transition:all .3s;transition:all .3s}
.md-show ~ .md-overlay{opacity:1;visibility:visible}
.md-content{position:relative;border-radius:0;margin:0 auto;}
.md-content-wrapper{padding:0 20px 10px;}
.md-content h3{text-align:center;font-size:2.4em;font-weight:300;opacity:0.8;background:rgba(0,0,0,0.1);border-radius:0;margin:0;padding:.4em}
.md-effect-7{background: #fff;backface-visibility: inherit;-webkit-backface-visibility: inherit;top:10%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.md-effect-7 .md-content{-webkit-transform:translateY(-200%);-moz-transform:translateY(-200%);-ms-transform:translateY(-200%);transform:translateY(-200%);-webkit-transition:all .3s ease-out-moz;-moz-transition:all .3s;transition:all .3s;opacity:0}
.md-show.md-effect-7 .md-content{-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);border-radius:0;opacity:1}
.md-modal-footer {  padding: 19px 20px 20px;  margin-top: 0;  text-align: right;  border-top: none; overflow:hiden;}
#login-button-set button,#forgotpassword-button-set button{height: 45px;width: 100%;}
#login-button-set .or{text-align: center;padding: 5px 0;font-size: 19px;}
a.restore-account{font-size: 17px;text-decoration: underline;display: block;margin-top: 5px;}
#login-button-set{margin-top: 5px;}
.md-modal-footer .btn + .btn {  margin-bottom: 0;  margin-left: 0;}
.md-modal-footer .btn-group .btn + .btn {  margin-left: -1px;}
.md-modal-footer .btn-block + .btn-block {  margin-left: 0;}
.md-modal-footer  a{text-decoration:none}
.md-modal-header h4{padding:20px;font-weight:normal;font-size:19px;}
.md-modal-header .close {cursor: pointer;position: absolute;top:8px;left:10px;line-height:10px;text-decoration:none;color:#4a4a4a;z-index: 1000;display: block;border:none}
.md-modal-header .close:hover{opacity:1;background:none;}
.signin .md-modal-header .close{height: 10px !important;width: 10px !important;}
#agreement-modal-body{max-height:200px;overflow:hidden; overflow-y:auto}
.opc-index-index .page-header-top{padding-bottom: 35px;}
.opc-index-index .header-left,.opc-index-index .header-right{margin-top: 30px;margin-bottom: 0;}
.md-register-area{text-align:center;margin-top:20px;}
.shipping-instructions{    display: inline-block;margin-bottom: 10px;max-width: 100%;}
.shipping-instructions.fme-field{width: 100%;margin-top: 5px;}
.shipping-instructions.fme-field input{border-color: #dfdfdf;width: 100%;    background: url(../../../images/calendar.png) 10px 6px no-repeat}
.opc-wrapper-opc .shipping-block .shipping-instructions.fme-field label{    padding-right: 0!important;}
.shipping-instructions.fme-field.last{float: left;}
.shipping-instructions.fme-field select{font-size: 14px;}
#checkout-shipping-method-load .sp-methods dd .shipping-instructions div.input-box{max-width: 100%;}
#opc-address-form-shipping{clear: both;display: inline-block;width: 100%;margin-top: 30px;}
 #opc-address-form-shipping h3{margin-bottom: 0;}
.opc-wrapper-opc .login-trigger{    cursor: pointer;text-decoration: none;font-weight: 500;font-size: 17px;color: #292929;}
.checkout-block{margin-top: 20px;}
.checkout-form{margin-top: 40px;float: right;width: 100%;}
.checkout-form .block{    border: 1px solid #dfdfdf;padding:0 30px 50px 30px;float: right;width: 100%;}
.left{float:left !important;}
.right{float:right !important;}	
.clear{clear:both !important;}
.hidden{display:none !important;}
.move-columns{margin-bottom:15px;}
.mini-products-title{    float: right;width: 100%;}
.opc-review-block .review-td.big{width: 50%;}
.mini-products-list .item{float: right;width: 100%;border-top: 1px solid #e6e6e6;padding: 15px 0 15px 0;}
.mini-products-list .item:last-child{border-bottom: 1px solid #e6e6e6;}
.mini-products-list .item .name{    font-size: 15px;color: #292929;}
.opc-review-block .review-td{float: right;width: 25%;}
.opc-review-block .review-td .product-qty{padding-right: 10px;}
.opc-review-block .review-td .product-price .price{color: #292929;}
.opc-review-block .review-td .product-image{    float: right;width: 40%;}
.opc-review-block .review-td .product-name{    float: right;width: 60%;padding-right: 10px;}
.mini-products-title li{color: #5a5a5a;font-size: 16px;}
#floatingCirclesG{position:relative;width:64px;height:64px;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);margin: 0 auto;top: 50%;}
.f_circleG{position:absolute;background-color:#FFFFFF;height:12px;width:12px;-moz-border-radius:6px;-moz-animation-name:f_fadeG;-moz-animation-duration:0.72s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:6px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:0.72s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:6px;-ms-animation-name:f_fadeG;-ms-animation-duration:0.72s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:6px;-o-animation-name:f_fadeG;-o-animation-duration:0.72s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:6px;animation-name:f_fadeG;animation-duration:0.72s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:26px;-moz-animation-delay:0.27s;-webkit-animation-delay:0.27s;-ms-animation-delay:0.27s;-o-animation-delay:0.27s;animation-delay:0.27s;}
#frotateG_02{left:8px;top:8px;-moz-animation-delay:0.36s;-webkit-animation-delay:0.36s;-ms-animation-delay:0.36s;-o-animation-delay:0.36s;animation-delay:0.36s;}
#frotateG_03{left:26px;top:0;-moz-animation-delay:0.45s;-webkit-animation-delay:0.45s;-ms-animation-delay:0.45s;-o-animation-delay:0.45s;animation-delay:0.45s;}
#frotateG_04{right:8px;top:8px;-moz-animation-delay:0.54s;-webkit-animation-delay:0.54s;-ms-animation-delay:0.54s;-o-animation-delay:0.54s;animation-delay:0.54s;}
#frotateG_05{right:0;top:26px;-moz-animation-delay:0.63s;-webkit-animation-delay:0.63s;-ms-animation-delay:0.63s;-o-animation-delay:0.63s;animation-delay:0.63s;}
#frotateG_06{right:8px;bottom:8px;-moz-animation-delay:0.72s;-webkit-animation-delay:0.72s;-ms-animation-delay:0.72s;-o-animation-delay:0.72s;animation-delay:0.72s;}
#frotateG_07{left:26px;bottom:0;-moz-animation-delay:0.81s;-webkit-animation-delay:0.81s;-ms-animation-delay:0.81s;-o-animation-delay:0.81s;animation-delay:0.81s;}
#frotateG_08{left:8px;bottom:8px;-moz-animation-delay:0.9s;-webkit-animation-delay:0.9s;-ms-animation-delay:0.9s;-o-animation-delay:0.9s;animation-delay:0.9s;}

@-moz-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#000000}100%{background-color:#FFFFFF}}

.opc-ajax-loader{    height: auto;
    left: 0;
    position: fixed;
    top: 50%;
    display: none;
    z-index: 21;
    right: 0;
    margin: 0 auto;
    width: 65px;}
.opc-checkout-cart{}
.form-list > li.control input[type="checkbox"]{margin: 5px 0 0 5px!important;}
.fb-login-block{max-width: 100%!important;    margin-bottom: 0!important;}
.fb-login-block:hover{opacity: 0.7;}
/** BASE OPC ELEMENTS **/
.opc-wrapper-opc{margin: 0 auto;position: relative;z-index: 20;}
.opc-wrapper-opc *{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.opc-wrapper-opc label{font-weight:normal;font-size:16px;line-height: 1.25em;margin-bottom:2px;text-align: right;text-transform: none;}
.checkout-header .skip-cart .icon{width: 30px;height: 30px;    display: inline-block;vertical-align: middle;margin-left: 10px;}
.checkout-header .skip-cart .label{font-size: 17px;font-weight: 500;margin-left: 0;color: #9b1b1e;padding: 0;display: inline-block;vertical-align: middle;    cursor: pointer;}
.checkout-header .header-minicart{margin-top: 0;position: absolute;left: 0;top: 50%;z-index: 2;width: 155px;height: 42px;border: 1px solid #dfdfdf;padding: 5px 7px;background: url(../../../images/coupon-close.png) no-repeat 10px 50%;cursor: pointer;}
.opc-wrapper-opc .control label{padding-left:10px}
.opc-wrapper-opc h3{font-size: 20px;font-weight: 500;padding-right: 0;line-height: 40px;position: relative;text-align: right;padding-top: 20px;display: inline-block;width: 100%;}
.opc-wrapper-opc h3 img{margin: 0 auto 5px;    display: none;}
.opc-wrapper-opc h3 span{    font-size: 60px;font-family: "Assistant", sans-serif;font-weight: bold;color: #e3e4e4;position: absolute;top: -13px;right: 5px;}
.opc-wrapper-opc .validation-advice{font-weight:normal;text-align: right;}
.opc-wrapper-opc h2{font-size:36px; font-weight:400;text-transform:none !important}
.opc-wrapper-opc p{font-size:16px;text-align:right;margin: 0 0 10px;}
.opc-wrapper-opc input{box-shadow:none;background: none;margin-left: 0 !important;margin-right: 0 !important;}
.opc-wrapper-opc input:focus{box-shadow:none;}
.opc-wrapper-opc .opc-col-left{float:right;width:36%;margin:0;padding-left:20px;box-sizing: border-box;} 
.opc-wrapper-opc .opc-col-center{float:right;width:32%;margin:0;padding-right:20px;padding-left:20px;box-sizing: border-box;} 
.opc-wrapper-opc .opc-col-right{float:left;width: 32%;margin:0;padding-right:20px;box-sizing: border-box;} 
.opc-wrapper-opc input.input-text:focus, .opc-wrapper-opc select:focus, .opc-wrapper-opc  textarea:focus {background-color: #fff;}
.opc-wrapper-opc span.validation-passed, .opc-wrapper-opc div.validation-passed{background-image:none}
.opc-wrapper-opc label.required:after, 
.opc-wrapper-opc span.required:after{color:#363636;font-size: 13px;}


/*FIX FOR INFORTIS THEMES*/
#root-wrapper .in-col1 .opc-wrapper-opc input{height:36px !important}

/** LOGIN FORM **/
.opc-wrapper-opc .text-login{color:#6b6b6b; font-size:14px; font-weight:400;}
.opc-wrapper-opc .text-login a{color:#000000;text-transform:uppercase;font-weight:600;text-decoration: none;cursor:pointer;}
.opc-wrapper-opc .form-list .input-box{width:100%}
.opc-wrapper-opc .form-list .input-box input[type="text"],
.opc-wrapper-opc .form-list .input-box input[type="password"]{width:100%;    border-color: #c2c2c2;}

/** FORGOT PASSWORD FORM **/
.opc-wrapper-opc #form-validate-email p{font-size:14px;}
.opc-wrapper-opc  .back-link{float: left;}


/** BILLING AND SHIPPING FORM **/
.opc-wrapper-opc .opc-col-left li{margin-bottom: 15px;}
.opc-wrapper-opc .opc-col-left .input-box {width:280px;padding:0}
.opc-wrapper-opc .opc-col-left .wide select{border:1px solid #d8d8d8; height:24px;padding:0;width:100%;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .customer-name .field{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name .field:first-child{margin-right:0;}
.opc-wrapper-opc .opc-col-left .customer-name .input-box{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name input[type="text"]{width:130px;}
.opc-wrapper-opc .opc-col-left .wide{width:100%}
.opc-wrapper-opc .opc-col-left .wide .input-box {width:100%;padding:0}
.opc-wrapper-opc .opc-col-left .wide input[type="text"]{width:100%;}
.opc-wrapper-opc .opc-col-left .fields .field{ clear: none;float: right;width: 47%;margin-bottom: 15px;}
.opc-wrapper-opc .opc-col-left .fields .field:last-child{float:left}
.opc-wrapper-opc .opc-col-left .fields .input-box{width:100%;}
.opc-wrapper-opc .opc-col-left .fields input[type="text"],
.opc-wrapper-opc .opc-col-left .fields input[type="password"]{width:100%;}
.opc-wrapper-opc .opc-col-left .fields select{width: 100%;}
.opc-wrapper-opc .opc-col-left .control{    text-align: right;margin-top: 15px;}
.opc-wrapper-opc .opc-col-left .control label{    padding-right: 4px;float: right;margin-top: 0;font-size: 17px;color: #5a5a5a;}
.opc-wrapper-opc .opc-col-left .notice{font-size:13px; color:#6e6e6e; font-style: italic;margin-bottom:5px}
.opc-wrapper-opc .opc-col-left .add-field .input-box{margin-left:0}




/** GIFT PAYMENTS METHODS BLOCK */
.opc-wrapper-opc .payment-block{position: relative;margin-top: 35px;}
.opc-wrapper-opc .payment-block.clear-margin{margin-top:0}
.opc-wrapper-opc .payment-block .tool-tip{top:0 !important}
.opc-wrapper-opc .payment-block dl,
.opc-wrapper-opc .payment-block dt{text-align:left;font-size:14px;color:#363636;overflow: hidden;}
.opc-wrapper-opc .payment-block dt{margin: 0px 0 13px;background:none!important;position:relative;border-radius:2px;text-align: center;}
.opc-wrapper-opc .payment-block dt:hover,
.opc-wrapper-opc .payment-block dt.active{background:none!important;}
.opc-wrapper-opc .payment-block dt label{cursor: pointer;display: block;font-size: 17px;color: #5a5a5a;;max-width: 100%;text-align: right;text-transform: uppercase;padding: 0 !important;}
.opc-wrapper-opc .payment-block dt#dt_method_paypal_express label{font-size:0;}
.opc-wrapper-opc .payment-block select{border: 1px solid #d8d8d8;margin-top: 0;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;height:22px;width:99%}
.opc-wrapper-opc .payment-block dt input{display:block;margin: 2px 0 0 7px!important;cursor: pointer;}
.opc-wrapper-opc .payment-block h3{margin-bottom:26px;}
.opc-wrapper-opc .payment-block li{margin-bottom:12px;}
.opc-wrapper-opc .payment-block .form-list{padding-left:0}
.opc-wrapper-opc .payment-block .form-alt{    margin-bottom: 0;font-size: 16px;font-weight: normal;text-align: right;margin-right: 23px;margin-top: 10px;}
.opc-wrapper-opc .payment-block .sp-methods .form-list{padding:0}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt{margin-top:0}
.opc-wrapper-opc .payment-block #customerbalance_placer{margin-bottom:13px}
.opc-wrapper-opc .payment-block #reward_placer{margin-bottom:13px}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-giftcardaccount{display:none}

.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward{margin-bottom:20px}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward li{overflow: hidden;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt{overflow:hidden;border:none; background:none; border-radius:0;height:auto !important; line-height:1.25em !important}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward input{width: auto !important;float:left !important;opacity:1;height:auto !important}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward label{float: left !important;padding-left: 25px;width: 95%;color:#363636; font-size:14px;font-weight:normal;text-shadow:none;font-size:14px; text-transform:none !important;height:auto !important; line-height:1.25em !important; text-align:left;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt label{text-shadow:none}


.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance{margin-bottom:20px;overflow: hidden;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance input{width: auto !important;float:left !important}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance label{float: left !important;padding-left: 15px;width: 95%;color:#363636; font-size:14px;font-weight:normal;text-shadow:none;font-size:14px; text-transform:none !important;height:auto !important; line-height:1.25em !important; text-align:left;}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-customerbalance label strong{font-weight:normal;}



/** GIFT SHIPPING METHODS BLOCK **/
.opc-wrapper-opc .shipping-block{}
.opc-wrapper-opc .shipping-block dl,
.opc-wrapper-opc .shipping-block dt{text-align:right;font-size:14px;color:#363636;margin: 0;}
.opc-wrapper-opc .shipping-block dt{margin: 13px 0 5px;}
.opc-wrapper-opc .shipping-block dt label{text-align:left;font-size:14px;color:#363636}
.opc-wrapper-opc .shipping-block p{margin-top: 10px;margin-right: 15px;}
.opc-wrapper-opc .shipping-block h3{margin-bottom:21px;}
.opc-wrapper-opc .validation-advice{background:none;padding-left:0}
.opc-wrapper-opc .shipping-block li label{padding-right: 5px !important;    float: right;width: 90%;font-size: 16px;color: #292929;}
.opc-wrapper-opc .shipping-block dd{display: inline-block;width: 100%;margin-bottom: 5px;}

/** GIFT DISCOUNT BLOCK **/
.opc-wrapper-opc .opc-review-actions .agree{padding-left:0;padding-bottom:0;margin: 0;border: 1px solid transparent;}.opc-wrapper-opc .opc-review-actions .agree.active{border-color:red;}.agreements-validation{display:none;color: red;font-size: 16px;}.agreements-validation.active{display:block;}
.opc-wrapper-opc .opc-review-actions .agree label{margin-right: 5px;}
.opc-wrapper-opc .opc-review-actions .agree label a{text-decoration: underline;}
#agreement-pop ol{padding-right: 25px;}
#agreement-pop ol li{}
.opc-wrapper-opc .opc-review-actions .agree input[type="checkbox"]{margin: 6px 0 0 5px;}
.opc-wrapper-opc #checkout-review-submit li{margin-bottom:0;margin-top: 0;}
.opc-wrapper-opc .opc-review-actions .checkout-agreements{padding:0}
.opc-wrapper-opc .opc-review-actions .checkout-agreements li{margin:10px 0}
.opc-wrapper-opc .opc-review-actions .view-agreement{text-decoration:none;color:#676767; font-size:14px;cursor:pointer;font-weight: normal;}
.opc-wrapper-opc .opc-review-actions .view-agreement:hover{color:#000000;}
.opc-wrapper-opc .opc-review-actions .agreement-content{margin-top:20px;margin-bottom:20px;}


/** GIFT DISCOUNT BLOCK **/
.opc-wrapper-opc .discount-block{    padding: 0;margin: 0;}
.discount-form label:after{display:none!important;}
.opc-wrapper-opc .discount-block .discount{margin-top:10px;    display: inline-block;width: 100%;}
.opc-wrapper-opc .discount-block .discount.aw_giftcard{margin-top: 30px;}
.opc-wrapper-opc .discount-block .discount.aw_giftcard h2{color: #363636;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.25em;
    margin-bottom: 2px;
    text-align: right;}
.opc-wrapper-opc .discount-block .discount.aw_giftcard input{width: 100%;height: 35px;}
.opc-wrapper-opc .discount-block .input-box {margin: 5px 0 0;float: right;width: 60%;}
.opc-wrapper-opc .discount-block input[type="text"]{width:100%;height: 35px;}
button.couponButton{margin-top: 3px!important;height: 36px!important;}
.opc-wrapper-opc .discount-block .button span{border: none;line-height: 24px;}
.opc-wrapper-opc .discount-block .button span span{color: #ffffff;text-transform: uppercase;}
.opc-wrapper-opc .discount-block .buttons-set{    margin-top: 0;overflow: hidden;padding-top: 0;float: right;clear: none;padding: 6px 0 0;}
.opc-wrapper-opc .discount-block .apply-coupon{float:right}
.opc-wrapper-opc .discount-block .remove-coupon{float: right !important;}


/** GIFT CARD **/
.opc-wrapper-opc .giftcard{margin-bottom: 20px;}
.opc-wrapper-opc .giftcard #giftcard-form{display:none;}

.opc-wrapper-opc .giftcard .v-fix{float:none;margin-bottom:10px}
.opc-wrapper-opc .giftcard input{width:100%}
.opc-wrapper-opc .giftcard .button{display:block;height:25px;border:none;margin: 0 auto;float:left;min-width: unset;;}
.opc-wrapper-opc .giftcard .button span{background:#000000;border:none;height:25px;line-height:24px;-webkit-border-radius: 3px;border-radius: 3px;padding: 0;}
.opc-wrapper-opc .giftcard .button span span{background:#000000;color:#ffffff;font-size:15px;font-weight:bold;text-transform:uppercase;padding:0 20px}
.opc-wrapper-opc .giftcard .button.btn-remove-gift span span{padding:0 20px}
.opc-wrapper-opc .giftcard .check-gc-status{margin-bottom: 0;;float:right}
.opc-wrapper-opc .giftcard .check-gc-status span{background: none repeat scroll 0 0 transparent !important;color: #363636 !important;font-size: 11px !important;font-weight: normal !important;padding: 0 !important;text-transform: none !important; text-shadow:none !important}

.discount-block h3,
.signature-block h3,
.comment-block h3,
.giftcard h3{
	margin-bottom:0;padding:0;
	display:inline-block; border:none; cursor:pointer;
}
.comment-block h3{font-size: 16px;
    color: #292929;
    font-weight: normal;
    height: auto;
    line-height: normal;
    text-align: right;}
.expand_plus{display:block;
color:#000000;
text-align:center;
float:right;margin-left:7px;}
.expand_plus:before{content:"\f0fe";}

.discount-block h3:hover .expand_plus,
.signature-block h3:hover .expand_plus,
.comment-block h3:hover .expand_plus,
.giftcard h3:hover .expand_plus,
.discount-block h3.open-block .expand_plus,
.signature-block h3.open-block .expand_plus,
.comment-block h3.open-block .expand_plus,
.giftcard h3.open-block .expand_plus{color:#000000;}

.discount-block h3.open-block .expand_plus:before,
.signature-block h3.open-block .expand_plus:before,
.comment-block h3.open-block .expand_plus:before,
.giftcard h3.open-block .expand_plus:before{content:"\f146";}

.discount-block h3.open-block + .collapse-block,
.signature-block h3.open-block + .collapse-block,
.comment-block h3.open-block + .collapse-block,
.giftcard h3.open-block + .collapse-block{border-top:1px solid #b6b6b6;margin-top: 10px;}
.giftcard h3.open-block +  #giftcard_balance_lookup{border-top:1px solid #b6b6b6;margin-top: 10px;margin-bottom:10px;}

.discount-block,
.signature-block,
.comment-block{margin-bottom:20px}
.shipping-block{margin-bottom:15px}

/** GIFT MESSAGES BLOCK */*
.opc-wrapper-opc .gift-messages{margin-top:40px}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .field{/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box {/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide .input-box {/*width:168px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide  textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:167px;*/ width:100%} 
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box{/*width:170px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list input[type="text"]{/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .number{font-weight:normal}
.opc-wrapper-opc .gift-messages-form li.wide .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li.wide textarea{width:100%}

.opc-wrapper-opc .gift-messages-form li .field{width:100%}
.opc-wrapper-opc .gift-messages-form li .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li input{width:100%}
.opc-wrapper-opc .gift-messages-form li textarea{width:100%}

/** CUSTOMER OPC MESSAGE BLOCK **/
.opc-message-wrapper{background-color: rgba(0, 0, 0, 0.6);display: none;height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 10001;}
.opc-messages{	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;	padding:30px;	position:absolute;	display:none;	-webkit-border-radius: 10px;	border-radius: 10px;    color:#404040;    display: block;    font-size: 16px;    left: 50%;    margin-left: -205px;    margin-top: -20px;    position: absolute;    text-align: left;    top: 30%;    width: 410px;	-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	background-color: #fefefe ;	font-weight:normal;z-index: 1002;}
.opc-message-container{text-align: center;}
.opc-messages-action{text-align:center;margin-top:20px}
.opc-messages-action .button{display:block;height:40px;border:none;margin: 0 auto;;background:none !important;padding:0}
.opc-messages-action .button span{border:none;display: block;}
.opc-messages-action .button span span{font-size:16px;text-transform:uppercase;padding:4px 20px}
.close-message-wrapper {background: transparent;display: block;height: 8px;position: absolute;width: 8px;z-index: 1005;right: 18px;top: 10px;cursor:pointer;color:#4a4a4a;line-height:10px;}

/** BUTTONS */
.opc-wrapper-opc .btn{margin: 0 auto;background:none !important;cursor:pointer}
.opc-wrapper-opc .btn span{background:#000000;border:none;height:35px;line-height:35px;-webkit-border-radius: 3px;border-radius: 3px;display:block;padding: 0;}
.opc-wrapper-opc .btn span span{background:#000000;color:#ffffff;font-size:12px;text-transform:uppercase;padding:0 10px}

.opc-wrapper-opc .btn-checkout{margin: 10px 0 5px;background: #f6a5b8;width: 100%;height: 45px;}
.opc-wrapper-opc .btn-checkout span{background:transparent;background-color: transparent!important;border: none;color:#363636;font-size:24px;-webkit-border-radius: 3px;border-radius: 3px;width:100%;line-height: 46px;padding: 0 !important;height: 45px;padding: 0;display:block;}
.opc-wrapper-opc .btn-checkout span span{    color: #fff;font-weight:normal;text-transform:uppercase;font-size:20px;}
.checkout-payments-notice{display: inline-block;margin-top: 10px;width: 100%;text-align: center;margin-bottom: 15px;}
.checkout-payments-notice p{font-size: 16px;color: #292929;margin: 0;text-align: center;}
.opc-wrapper-opc .buttons-set{border:none;margin-top:10px}

.opc-wrapper-opc .btn-checkout.button-disabled{}
.opc-wrapper-opc .btn-checkout.button-disabled span span{background: url(images/ajax-loader-button.png) no-repeat scroll 15px 12px transparent;}
.opc-wrapper-opc .btn-checkout.button-disabled span {cursor: default;background-color:rgba(2,72,79, .8); text-shadow:none}

.opc-wrapper-opc .opc-newsletter{margin-top:10px;margin-bottom:0px;float: right;}
.opc-wrapper-opc .opc-newsletter li{margin-top:10px;margin-bottom:10px;}
.opc-wrapper-opc .opc-newsletter li label{padding-right:4px;}
.opc-wrapper-opc .opc-newsletter li .input-box{float:right; width: auto;}
.checkout-block .footer-side-icon.first{bottom: 155px;max-width: 210px;top:auto;}
.opc-wrapper-opc button{border:none !important;padding:0;}
.opc-wrapper-opc button span{display:block;}


.opc-wrapper-opc .opc-menu .paypal-logo{float: left;margin-bottom: 0;margin-right: 30px;margin-top: 7px;}
.opc-wrapper-opc .opc-menu .paypal-logo .paypal-or{display:none;}
.opc-wrapper-opc .opc-menu .paypal-logo +li{display:none}
.login_botton{float: right;}
/** COMMENT BLOCK **/
.opc-wrapper-opc .comment-block{}
.opc-wrapper-opc .comment-block textarea{width:100%;height:40px;resize: none;  border: 1px solid #dfdfdf;}
.opc-wrapper-opc .comment-block .comment{margin-top:0}
.opc-wrapper-opc .payment-block dt label span {
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
}
.opc-wrapper-opc .payment-block dt label  img{display: inline-block;
    margin-left: 5px;}
.under-totals p{    color: #9b1b1e;
    text-align: center;
    line-height: 19px;
    margin-top: 10px;}

#p_method_paypal_express +label a{display:none}

#p_method_paypal_standard +label img, 
#p_method_paypal_standard +label a{display:none}

#p_method_paypal_express +label img{width: 100px;}
.opc-index-index .account-link{display:block}
/** review block **/
.review-menu-block{position:relative;float: left;}
.review-menu-block a.review-total{width:195px; height:44px;line-height:44px;display:block; background-color:#fff!important;border: 1px solid #363636;border-radius:2px;padding-left:18px;cursor:pointer;}
.review-menu-block a.review-total i{color:inherit;margin-top:9px;font-size: 23px;float: right;padding: 0 10px 0 0;}
.review-menu-block a.review-total i.dd-arrow{margin:0;height:100%;float:left;line-height:inherit;font-weight:bold;margin:0 13px 0 0;}
.review-menu-block a.review-total i.dd-arrow:before{content:"\f107";}
.review-menu-block a.review-total span{float:right;font-size:21px;text-transform:uppercase;background:transparent;margin-right:0;padding-right:8px;line-height:inherit;}
.review-menu-block a.review-total span span{float:none !important;background:none !important;margin:0 !important;padding:0 !important}
.review-menu-block a.review-total:hover,
.review-menu-block a.review-total.open{background:#363636 !important;}
.review-menu-block a.review-total.open i.dd-arrow:before{content:"\f106";}
.review-menu-block .polygon{display: none;height: 10px;position: absolute;right: 17px;width: 28px;z-index: 101;border-top: 10px solid #363636;border-left: 14px solid transparent;border-right: 14px solid transparent;}
.review-menu-block a.review-total.open ~ .polygon{display:block;border-top-color: #363636;}
.review-menu-block a.review-total:hover span,.review-menu-block a.review-total:hover i,.review-menu-block a.review-total.open span,.review-menu-block a.review-total.open i{color:#ffffff!important;}
.opc-wrapper-opc #opc-review-block{    float: right;
    width: 100%;
    margin-top: 15px;}
.opc-wrapper-opc #opc-review-block h3.review-title{color:#404040;font-size:16px;border-bottom:1px solid #b6b6b6;line-height:1; padding-bottom:13px; padding-left:9px}
#checkout-review-table-wrapper .sub_total{text-align: center;font-size: 17px;font-weight: 500;padding-bottom: 25px;}
.checkout-help{margin-top: 25px;float:left}
.checkout-help p{color:#292929;text-align: center;font-size:15px;margin: 0;}
.checkout-help a{color:#292929;background: url(../../../images/phone-chckout.png) 0 3px no-repeat;padding-left: 25px;font-weight:bold;margin-right: 10px;}
.page-header-container {margin-top: 0;padding: 10px 0;}
.checkout-block h1{    font-weight: normal;display: inline-block;vertical-align: middle;margin: 0;font-size: 30px;color: #292929;min-width: 72px;background: url(../../../images/title-bg.png) right top no-repeat;padding-top: 30px;}
.login-block{display: inline-block;vertical-align: bottom;background: url(../../../images/login-icon-checkout.png) right 5px no-repeat;position: relative;top: -3px;padding-right: 25px;margin-right: 15px;padding-top: 5px;}
.opc-wrapper-opc .opc-data-table{width:100%;}
.opc-wrapper-opc .opc-data-table thead th{color:#363636; font-size:15px;padding:0 15px 7px;border-bottom:1px solid #eaeaea}

.opc-wrapper-opc .opc-data-table thead tr th:last-child{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td{padding:14px 0;border-bottom:1px solid #eaeaea;}

.opc-wrapper-opc .opc-data-table td.last{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td .price{}
.opc-wrapper-opc .opc-data-table tbody td h3{color:#676767; font-size:14px;font-weight:400;border:none;margin:0;padding:0;line-height:1.35em}
.opc-wrapper-opc .opc-data-table tfoot td{padding:10px 0;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot td strong .price{color:#3f3f3f;font-size:14px;}
.opc-wrapper-opc .opc-data-table tfoot th{padding:10px 0;border-bottom:1px solid #eaeaea;color:#676767; font-size:14px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot th strong .price{color:#3f3f3f;font-size:14px;}
.opc-wrapper-opc .opc-data-table tfoot tr:last-child td{border-bottom:none}
.opc-wrapper-opc .opc-data-table .item-options{font-size:11px}
.opc-wrapper-opc .opc-data-table .cell-label{display:none}
.opc-wrapper-opc .opc-data-table .btn-remove img{margin-top: 5px;width: 10px;}
.opc-wrapper-opc .opc-data-table tfoot tr.last{display:none}
.opc-wrapper-opc .opc-data-table .btn-remove{display:none}
.opc-review-actions{ padding:15px 25px 25px;float: right;width: 100%;    border: 1px solid #dfdfdf;padding: 15px 25px;margin-top: 30px;}
.opc-review-actions h5{    font-size: 18px;font-weight: bold;margin-top: 15px;margin-bottom: 0;color: #292929;}
.opc-review-actions h5 span{margin-right:0;color: #292929;    float: left;}
.opc-review-actions h5 span span{margin:0}

/* .review-menu-block a.review-total.open */

.payment-form-full-page{float: none !important;}
.payment-form-full-page .review-total{display:none !important}
.payment-form-full-page .review-total+span{display:none !important}
.payment-form-full-page #opc-review-block{position:inherit !important;width:100% !important;border:none !important;box-shadow:none !important;padding:0 !important;display:block !important;top: 0;height:auto !important;overflow:visible !important;visibility:visible !important;}

.payment-form-full-page #centinel_authenticate_iframe{width:100%;min-height:450px;}

.cvv-what-is-this{display:none}

@media (max-width:   1415px)   {
	.opc-wrapper-opc{padding: 0 15px;}
}
@media (max-width:   1199px)   {
	.checkout-header .header-minicart{left: 15px;}
}
@media (max-width: 980px) {
	.opc-wrapper-opc .opc-col-left{width:100%;float:none;margin-bottom:30px;margin-left:0;padding-left:0px;padding-right:0px;}
	.opc-wrapper-opc .opc-col-center{width:100%;float:none;margin-bottom:30px;margin-left:0;padding-left:0px;padding-right:0px;margin-top: 20px;display: inline-block;}
	.opc-wrapper-opc .opc-col-right{width:100%;float:none;margin-bottom:30px;margin-left:0;padding-left:0px;padding-right:0px;}
	.opc-wrapper-opc .opc-data-table{width:100%;}
	.checkout_logo .need-help{position: static;margin-top: 20px;}
}

.opc-index-index .header-right{color: #292929;}
@media (max-width: 767px) {
	.checkout-header .header-minicart{position: relative;margin-top: 25px;left: 0;}
	.opc-wrapper-opc .opc-menu .paypal-logo{margin:0 30px 10px 0;}
	.review-menu-block a.review-total{width: 100%;}
	.review-menu-block{float: none;display: inline-block;width: 100%;}	
	.opc-wrapper-opc #opc-review-block{top: 56px;right: -8px;}
	.opc-wrapper-opc #opc-review-block:after{top: -15px;right: 15px;left: auto;left: auto;}
	.header-help p{font-size: 15px;}
	.opc-index-index{background: none;}
	.footer-side-icon{display:none;}
	.opc-wrapper-opc{margin-bottom: 30px;}
	.checkout-header .logo{width: 100%;}
	.checkout-help{width: 100%;margin-top: 15px;}
	.opc-index-index .logo-container{position: relative;top: 15px;}
	.opc-index-index .page-header-top{padding-bottom: 20px;}
	.opc-index-index .account-link{float: right;}
	.phone-top{    float: left;padding-left: 15px;}
	.opc-index-index .page-header{    float: right;width: 100%;padding-bottom: 15px;}
	.checkout-form .block{padding: 0 15px 50px 15px;}
	.opc-wrapper-opc label{font-size: 15px;}
}

/*business-client*/
.business-client .checkout-block .footer-side-icon.first{bottom: -155px;}
.business-client .footer-side-icon.second{bottom: -200px;}
.business-client .checkout-title{width: 32%;margin: 0 auto;}
.business-client .checkout-form{text-align: center;margin-top: 20px;}
.business-client .opc-col-left,.business-client .opc-col-center{display: none;}
.business-client.opc-wrapper-opc .opc-col-right{margin: 0 auto;float: none;padding: 0;display: inline-block;}
.business-client .mini-products-title{display: none;}
.business-client .opc-review-block .review-td{float: right;width: auto;}
.business-client .opc-review-block .review-td .product-qty{font-size: 20px;padding-right: 0;margin: 0;}
.business-client .opc-review-block .review-td .product-image{display: none;}
.business-client .opc-review-block .review-td .product-name{float: right;width: 100%;padding-right: 0;text-align: right;}
.business-client .opc-review-block .review-td.qty-td{float:left;}
.business-client .mini-products-list .item .name{font-size: 20px;}
.business-client .opc-review-block .review-td.price-td{display: none;}
.business-client.opc-wrapper-opc h3{display: none;}
.business-client .opc-review-actions{padding: 0;margin-top: 15px;border: none;}
.business-client.opc-wrapper-opc #opc-review-block{margin-top: 0;}
.business-client .cart-edit{display: inline-block;vertical-align: bottom;font-size: 22px;font-weight: 300;margin-right: 20px;position: relative;top: -2px;}
.business-client .cart-edit:before{    content: "";display: block;background: #292929;width: 1px;height: 18px;position: absolute;right: -11px;top: 9px;}
.business-client .cart-edit a{color: #292929;text-decoration: underline;}
@media (max-width: 991px) {
	.business-client .checkout-title{width: 100%;}
}